@font-face {
    font-family: 'GeneralSans-Variable';
    src: url(../font/GeneralSans-BoldItalic.ttf) format('truetype'),
        url('../font/GeneralSans-Variable.woff2') format('woff2'),
        url('../font/GeneralSans-Variable.woff') format('woff');

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.text {
    text-align: center;
    background: linear-gradient(90deg, #60A5fa 0%, #8b5cf6 50%, #ec4899 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-family: 'GeneralSans-Variable', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(2rem, 5vw, 5rem);
    line-height: 1.2;

}