<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive flex layout</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <time datetime="2026-05-02">2d May 2026</time>
      <ul>
        <li><a href="#">Sign up</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </header>
    <main>
      <section class="banner">
        <a href="#" class="subscribe">subscribe</a>
        <img src="images/awesome-logo.svg" alt="awesome-logo" class="logo" />
        <a href="#">
          <img src="images/social-icons.svg" alt="social-media-icons"
        /></a>
      </section>
      <section class="gallery">
        <img src="images/one.svg" alt="" />
        <img src="images/two.svg" alt="" />
        <img src="images/three.svg" alt="" />
        <img src="images/four.svg" alt="" />
        <img src="images/five.svg" alt="" />
        <img src="images/one.svg" alt="" />
      </section>
    </main>
    <footer>
      <section class="social">
        <a href="#"><img src="images/social-icons.svg" alt="social-icons" /></a>
      </section>
      <section class="menu">
        <nav>
          <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">services</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </nav>
      </section>
    </footer>
  </body>
</html>
