@import url(../assets/font-awesome/css/font-awesome.min.css);

/* public */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    padding: 10px 15px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.heading {
    font-size: 25px;
    margin-bottom: 16px;
    font-weight: 700;
    color: #474747;
}

.description {
    font-size: 16px;
    margin-bottom: 60px;
    color: #858585;
}


.btn-primary {
    background-color: rgb(60, 173, 212);
    color: #fff;
    font-size: 12px;
    padding: 10px 20px;
    font-weight: 100;
    transition: background-color .2s ease;
}

.btn-primary:hover {
    background-color: rgb(151, 223, 246);

}

.btn-secondary {
    background-color: rgb(56, 59, 67);
    color: #fff;
    font-size: 12px;
    padding: 10px;
    font-weight: 100;
    max-width: 220px;
    width: 100%;
    margin: 0 auto;
    transition: background-color .2s ease;
}

.btn-secondary:hover {
    background-color: rgb(99, 99, 101);

}

.chapter {
    min-height: 650px;
    text-align: center;
    padding: 90px 40px;
}

@media screen and (min-width:576px) {
    .heading {
        font-size: 45px;
    }

    .description {
        font-size: 23px;
    }

    .btn-primary,
    .btn-secondary {
        font-size: 18px;
        padding: 20px 40px;
    }
}

/* header */
header {
    background-image: url(../images/dark_tint.png), url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px 0 20px;
}

.navbar nav {
    background-color: transparent;
}

.navbar nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 10px;
}

.navbar nav ul li a {
    font-size: 16px;
    display: block;
    color: rgba(255, 255, 255, 0.5);
    padding: 20px 0;
    transition: color 0.2s ease;
}

.navbar nav ul li a:hover {
    color: rgba(255, 255, 255, 1);

}

.btn-sign-up {
    color: #000;
    background-color: #fff;
    margin: 10px 0;
}

.navbar h1 {
    color: #fff;
    font-size: 22px;
    padding-top: 15px;
    transition: border 0.2s ease;

}

.navbar h1:hover {
    border-bottom: 1px solid #fff;
}

@media screen and (min-width:576px) {
    .navbar nav ul {
        gap: 25px;
    }
}

/* banner */
.banner {
    text-align: center;
    color: #fff;
    margin-top: 150px;
}

.banner h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 16px;
    margin-bottom: 15px;

}


@media screen and (min-width:576px) {
    .banner h3 {
        font-size: 60px;
        margin-bottom: 20px;
    }

    .banner p {
        font-size: 25px;
        margin-bottom: 30px;
    }

}

/* features */

.features {
    background-color: #F5F5F5;
    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
    border-top: 1px solid rgba(144, 144, 144, 0.25);
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.cards section {
    background-color: #fff;
    border: 1px solid rgba(144, 144, 144, 0.25);
    padding: 50px 35px;
    border-radius: 5px;
    max-width: 350px;
    flex: 1;
}

.cards h5 {
    color: #858589;
    font-size: 20px;
    margin-bottom: 20px;

}

.cards p {
    color: #444;
    font-size: 15px;
    line-height: 26px;

}

.icon i {
    border-radius: 50%;
    font-size: 36px;
    color: #fff;
    padding: 40px;
    margin-bottom: 20px;
}

.blue {
    background-color: #3cadd4;
}

.green {
    background-color: #add43c;
}

.red {
    background-color: #d43c61;
}

@media screen and (min-width:992px) {
    .cards {
        flex-direction: row;
    }
}

/* testimonial */

.testimonial {
    background-color: #fff;
}

.info {
    color: rgb(68, 68, 68);
    font-size: 14px;
    line-height: 24px;
    margin: 60px 0 40px 0;
    padding: 0 10%;

}

.people {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
    border-top: 1px solid rgba(144, 144, 144, 0.25);

}

.person {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 1 300px;
    max-width: 350px;
    text-align: left;
    margin: 45px 0;
}

.person img {
    border-radius: 50%;
}

.person h6 {
    font-size: 16px;
    font-weight: 700;
    color: rgb(71, 71, 71);
    margin-bottom: 8px;
}

.person p {
    font-size: 14px;
    color: rgb(68, 68, 68);
}

@media screen and (min-width:992px) {
    .people {
        flex-wrap: nowrap;
    }

    .info {
        padding: 0 18%;
    }
}

/* contact */
.contact {
    background-color: #3cadd4;
}

.contact h3,
.contact p {
    color: #fff;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    text-align: center;

}

input,
textarea {
    border: none;
    border-radius: 5px;
    color: #858585;
    font-size: 12px;
    padding: 10px;
    text-transform: capitalize;
    font-family: inherit;
    flex: 1;
}

input:focus,
textarea:focus {
    border: 1px solid #000;
    outline: none;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

textarea {
    resize: none;
    height: 300px;
}

@media screen and (min-width:768px) {
    .input-group {
        flex-direction: row;
    }

    form {
        width: 100%;
    }
}

@media screen and (min-width:992px) {
    form {
        width: 50%;
    }
}

/* footer */
footer {
    height: 150px;
    background-color: #383B42;
    color: #858585;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer ul {
    list-style-type: none;
    font-size: 14.6px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-left: 0px;
}

footer a {
    color: #858585;
}

footer a:hover {
    text-decoration: underline;
}

@media screen and (min-width:768px) {
    footer {
        justify-content: center;
    }

    footer ul {
        flex-direction: row;
        padding-left: 20px;

    }
}

@media screen and (min-width:992px) {
    footer {
        justify-content: flex-start;
    }

    footer ul {
        flex-direction: row;
        padding-left: 20px;
    }
}