@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../assets/font-awesome/css/font-awesome.min.css');

/* public */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Encode Sans Expanded", sans-serif;
    color: #333333;
    font-size: 18px;
}

a,
button {
    color: #191919;
    text-decoration: none;
    font-weight: 700;
    transition: color .2s ease-in-out;
}

a:hover,
button:hover {
    color: #F8B500;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.heading {
    position: relative;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-bottom: 35px;
}

.heading::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: ' ';
    height: 5px;
    width: 80px;
    background-color: #F8B500;
    z-index: 1;
}

.heading::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: ' ';
    height: 1px;
    width: 100%;
    background-color: #CCCCCC;
}



/* container */
.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

@media (min-width:576px) {
    .container {
        max-width: 576px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 992px;
    }
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1200px;
    }
}

/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;
}

nav ul {
    display: none;

}

nav ul li a {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-brand img {
    width: 100px;
    height: auto;
}

.navbar-toggler {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.collapse {
    background-color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 80px;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 20px -10px rgba(0, 0, 0, .4);
    z-index: 2;
}

.collapse li {
    border-bottom: 1px solid #EEEEEE;
    padding: 12px;
}

.collapse li a {
    display: inline-block;
    width: 100%;
}

@media (min-width:768px) {

    .navbar-brand img {
        width: 100px;
    }

    nav ul {
        display: flex;
        gap: 15px;
    }

    .navbar-toggler {
        display: none;
    }
}

@media (min-width:992px) {
    .navbar-brand img {
        width: 100%;
    }

    nav ul {
        display: flex;
        gap: 30px;
    }
}

/* hero */
.row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 10px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.hero article {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 300px;

}

.hero article::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: .6;
    background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, .4) 100%);
}

.hero-main {
    background-image: url('../images/slider-1.jpg');
}

.hero-card-2 {
    background-image: url('../images/slider-2.jpg');
}

.hero-card-3 {
    background-image: url('../images/slider-3.jpg');
}

.hero-card-4 {
    background-image: url('../images/slider-4.jpg');
}

.hero-card-5 {
    background-image: url('../images/slider-5.jpg');
}

.hero-card-6 {
    background-image: url('../images/slider-6.jpg');
}

.description {
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    padding: 20px;
    z-index: 1;
}


.description h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0;
    line-height: 27px;
}


.description ul {
    color: #fff;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.description ul li a {
    color: #F8B500;
}

.icon {
    color: #F8B500;
    font-size: 12px;
    padding: 0 2px 0 5px;
}



@media (min-width:768px) {

    .row {
        display: flex;
        flex-direction: row;
        gap: 10px;
        min-height: auto;
    }

    .col {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 10px;
    }

    .hero article {
        height: 200px;
    }

    .hero-main {
        height: 400px !important;
        flex: 2;
    }

    .hero-card-2,
    .hero-card-3 {
        flex: 1;
    }

    .hero-card-4,
    .hero-card-5,
    .hero-card-6 {
        flex: 0 1 calc(33.33% - 8px);
    }

    .hero-card-6 {
        flex: 1;
    }

    .description h3 {
        font-size: 23px;
        line-height: 35px;
    }

    .small h3 {
        font-size: 18px;
        line-height: 27px;
    }

    .description {
        background-color: transparent;
    }
}

/* main */
main {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.news {
    flex: 1;
    padding-right: 0px;

}

aside {
    flex: 1;
    min-height: 400px;
    padding-left: 0px;
}


@media (min-width:992px) {
    main {
        display: flex;
        flex-direction: row;
    }

    .news {
        flex: 2;
    }

    aside {
        flex: 1;
        padding-left: 80px;

    }
}

/* recent-news */
.news article h4 {
    font-weight: 700;
    margin: 15px 0;
    line-height: 23px;
}

.news article ul {
    color: #919191;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}

.news article img {
    width: 100%;
    height: auto;
}

.news article p {
    color: rgb(85, 85, 85);
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
}

/* crypto-news */
.crypto-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
}

@media (min-width:576px) {
    .crypto-wrapper {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}

/* popular-post */
.popular-post {
    margin-bottom: 50px;
}

.popular-post article {
    display: flex;
    margin-bottom: 10px;
}

.popular-post article img {
    width: 100px;
    height: 100px;
}

.popular-post-description {
    padding-left: 15px;
}

.popular-post article h5 {
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 23px;
    font-size: 16px;
}

.popular-post article p {
    color: #919191;
    font-size: 12px;
    gap: 10px;
    margin-bottom: 30px;
}

/* ratio */
.ratio {
    margin-bottom: 50px;
}

.ratio ul li {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: rgb(51, 51, 51);
    background-color: #F8B500;
    border-bottom: 1px solid #fff;
    padding: 15px 0;
}

/* newsletter */
.newsletter form {
    display: flex;
}

.newsletter p {
    color: rgb(85, 85, 85);
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
}

.newsletter input {
    padding: 12px;
    color: #CCCCCC;
    border: 1px solid #F9B500;
    flex: 1;
}

.newsletter input:focus {
    outline: 1px solid #F9B500;

}

.newsletter button {
    padding: 12px;
    color: #333333;
    border: 1px solid #F9B500;
    background-color: #F8B500;
    width: 50px;
    transition: all .2s ease-in-out;
}

.newsletter button:hover {
    color: #ffffff;
    border: 1px solid #000000;
    background-color: #000000;
    cursor: pointer;
}

/* footer */
footer {
    background-color: #191919;
    color: #AAAAAA;
}

.bg-map {
    background-image: url('../images/map.png');
    background-repeat: no-repeat;
    background-position: center;
}

.footer-top-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #3F4444;
    padding: 50px 10px;
    background-color: rgba(25, 25, 25, .9);

}

.footer-top-section div {
    flex: 1;
}

.footer-top-section p {
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0;
}

.footer-bottom-section {
    padding: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(25, 25, 25, .9);
}

.footer-bottom-section ul {
    display: flex;
    gap: 20px;
}

.footer-bottom-section li a {
    color: #aaa;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
}

.footer-bottom-section li a:hover {
    color: #F9B500;
}

.footer-top-section h5 {
    font-size: 15px;
    color: #F9B500;
    line-height: 23px;
}

.popular article {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-bottom: 1px solid #3F4444;
}

.popular>article:last-of-type {
    border-bottom: none;
}

.popular article h6 a {
    font-size: 14px;
    color: #fff;
    line-height: 18px;
}

.popular article h6 a:hover {
    color: #F8B500;
}

.popular article span {
    color: rgb(204, 204, 204);
    font-size: 12px;
    margin-top: 10px;
}



@media (min-width:576px) {
    .footer-top-section {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: space-between;
    }


    .footer-bottom-section {
        flex-direction: row;
        justify-content: space-between;
    }
}