<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interactive Icons</title>
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <section>
      <a href="#"><i class="fa fa-search"></i></a>
      <a href="#"><i class="fa fa-user"></i></a>
      <a href="#"><i class="fa fa-map-marker"></i></a>
    </section>
  </body>
</html>
