ul {
    list-style-type: none;
    background-color: #232e40;
    margin: 30px 60px;
    padding: 0;
}

ul li {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-right: 1px solid #303d4f;
}

ul li a {
    display: block;
    color: #a9afbd;
    text-decoration: none;
    padding: 20px;
    transition: all 0.2s ease;
}

ul li a:hover {
    color: #fff;
    background-color: #469de7;

}

ul li a i {
    padding-right: 5px;
}


.active {
    color: #fff;
    background-color: #469de7;
}