* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #fefefe, #dfdfdf);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

section a {
    display: inline-block;
    cursor: pointer;
    color: #fefefe;
    width: 200px;
    height: 130px;
    border-radius: 5px;
    font-size: 50px;
    margin-left: 10px;
    padding-top: 30px;
    transition: transform 2s ease;
}

section a:hover {
    transform: rotateY(180deg);
}

a:nth-of-type(1) {
    background-color: #329c31;

}

a:nth-of-type(2) {
    background-color: #bb2149;
}

a:nth-of-type(3) {
    background-color: #27737f;
}