:root {
    --primary-color: rgb(255, 74, 82);
    --content-color: rgb(4, 14, 39);
    --content-secondary-color: rgb(170, 177, 183);
    --content-third-color: #7a838b;
    --light-green: #1EC6B6;
    --white: #ffffff;
    --border-color: #363E52;
    --light-gray: #A8B0B5;
    --background: #F7FAFD;
    --gold:#FDAE5C;
}