* {
    box-sizing: border-box;
}

body {
    background-color: #fed08f;
    color: #fed08f;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

header {
    background-color: #ff4975;
    height: 50vh;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
}

main {
    background-color: #ffaa3a;
    height: 40vh;
    width:50%;
}

aside {
    background-color: #9ab680;
    height: 40vh;
    width:30%;

}

footer {
    background-color: #7494df;
    height: 10vh;

}