<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML5 | semantic elements</title>
  </head>
  <body>
    <header>
      <h1>HTML5</h1>
      <nav>
          <h2>Table of Contents</h2>
        <ol>
          <li><a href="#">Introduction</a></li>
          <li><a href="#">History</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Logo</a></li>
          <li><a href="#">References</a></li>
        </ol>
      </nav>
    </header>
       <main>
    <section>
      <h2>Introduction</h2>
      <p>
        HTML5 stands for HyperText Markup Language. It is used to create content
        on the world wide web like webpages. HTML5 is the fifth revision of the
        language's standard. It was published in October 2014, 17 years after
        HTML4 was standardized. HTML5 aims to provide improved support for
        latest multimedia. It also reduced dependency on plugins and APIs
        providing a common interface making loading elements
      </p>
    </section>
    <aside>
      <h3>API</h3>
      <p>
        PY up als for ig otion Programming Interface l is a sct of routines,
        protocols, and tools for building software and applications,
        <mark>This content uses the aside element</mark>. This is only for
        semantic meaning and so doesn't carry any instructions for presentation.
        i will appear like a normal paragraph in your document. If you wish to
        include this in a sidebar, you will have to provide the appropriate
      </p>
    </aside>
 
      <article>
        <h2>History</h2>
        <p>
          HTML5 is based on a position paper presented by Mozilla Foundation and
          Opera Software at the W3C workshop in 2004. The Web Hypertext
          Application Technology Working Group (WHATWG) was formed to start work
          on this...
        </p>
      </article>
      <article>
        <h2>Features</h2>
        <h3>Keeping up with times</h3>
        <p>
          HTML5 introduced elements and attributes that fits the typical usage
          in modern websites. It introduced new semantic elements to replace
          generic blocks like div and span. Purely presentation elements such as
          font and center have also been completely dropped...
        </p>
        <h3>New APIs</h3>
        <p>
          New APIs were introduced to allow cross-document communication, drag
          and drop functionality, immediate mode 2D drawing using the canvas
          element, webstorage etc...
        </p>
        <h3>Error Handling</h3>
        <p>
          HTML5 provides detailed rules for parsing allowing HTML5 compliant
          browsers to produce the same type of behavior when parsing incorrect
          syntax. It has been designed for compatibility with older browsers.
          Older browsers ignore new HTML5 constructs...
        </p>
      </article>
    </main>
    <footer>
      <h2>References</h2>
      <p>
        Contents of this sample have been adapted from the
        <a href="#"> HTML5 page on Wikipedia</a>
      </p>
      <p>Copyrights information….</p>
      <nav aria-label="contact">
      
        <ul>
          <li><a href="#">email</a></li>
          <li><a href="#">twitter</a></li>
          <li><a href="#">facebook</a></li>
          <li><a href="#">GitHub</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
